
@{
    ViewBag.Title = "RegisterSuccess";
}

<h2>RegisterSuccess</h2>
<div>
    @ViewBag.RegisterMessage
</div>
<div>
    <span style="color:forestgreen"> Your details will be verified and status will be updated</span>
    @Html.ActionLink("Click to Login","Login","Home")
</div>

